{{define "yield"}}

<div>
  <h2>
    New note
  </h2>


  <form action="/notes" method="POST">
    {{csrfField}}

    <input type="text" name="book_uuid" value="b36b3cac-d610-455a-90d3-4ff81a6562e6" >
    <textarea name="content" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit" />
  </form>
</div>


{{end}}
